<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
        <key>Description</key>
        <string>A new 🐍VIPER Module.</string>
        <key>Summary</key>
        <string>This generates a new 🐍 VIPER module.</string>
        <key>SortOrder</key>
        <string>1</string>
        <key>DefaultCompletionName</key>
        <string>MyModule</string>
        <key>Platforms</key>
        <array>
            <string>com.apple.platform.iphoneos</string>
        </array>
        <key>Options</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>productName</string>
                <key>Type</key>
                <string>static</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>moduleName</string>
                <key>Required</key>
                <true/>
                <key>Name</key>
                <string>New Module Name:</string>
                <key>Description</key>
                <string>The name of the module to create</string>
                <key>Type</key>
                <string>text</string>
                <key>Default</key>
                <string></string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>viewClassName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___ViewController</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>viewInterfaceName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___ViewInterface</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>VIEW_PREVIEW</string>
                <key>Name</key>
                <string>View:</string>
                <key>Description</key>
                <string>The View class and inheritance if specified.</string>
                <key>Type</key>
                <string>static</string>
                <key>Default</key>
                <string>___VARIABLE_viewClassName:identifier___</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>presenterClassName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___Presenter</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>presenterConfigInterfaceName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___PresenterConfigurable</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>presenterInterfaceName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___PresenterInterfaceable</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>presenterObjcInterfaceName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___PresenterObjcExposable</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>PRESENTER_PREVIEW</string>
                <key>Name</key>
                <string>Presenter:</string>
                <key>Description</key>
                <string>The Presenter class and inheritance if specified.</string>
                <key>Type</key>
                <string>static</string>
                <key>Default</key>
                <string>___VARIABLE_presenterClassName:identifier___</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>interactorClassName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___Interactor</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>interactorInterfaceName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___InteractorInterface</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>INTERACTOR_PREVIEW</string>
                <key>Name</key>
                <string>Interactor:</string>
                <key>Description</key>
                <string>The Interactor class and inheritance if specified.</string>
                <key>Type</key>
                <string>static</string>
                <key>Default</key>
                <string>___VARIABLE_interactorClassName:identifier___</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>wireframeClassName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___Wireframe</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>wireframeInterfaceName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___WireframeInterface</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>WIREFRAME_PREVIEW</string>
                <key>Name</key>
                <string>Wireframe:</string>
                <key>Description</key>
                <string>The Wrieframe class and inheritance if specified.</string>
                <key>Type</key>
                <string>static</string>
                <key>Default</key>
                <string>___VARIABLE_wireframeClassName:identifier___</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>interfacesFileName</string>
                <key>Default</key>
                <string>___VARIABLE_moduleName:identifier___Interfaces</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>viewSubclassName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___ViewController</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>viewSubinterfaceName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___ViewInterface</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>presenterSubclassName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___Presenter</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>presenterConfigSubinterfaceName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___PresenterConfigurable</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>presenterSubinterfaceName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___PresenterInterfaceable</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>presenterObjcSubinterfaceName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___PresenterObjcExposable</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>interactorSubclassName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___Interactor</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>interactorSubinterfaceName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___InteractorInterface</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>wireframeSubclassName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___Wireframe</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>wireframeSubinterfaceName</string>
                <key>Default</key>
                <string>Abstract___VARIABLE_submoduleName:identifier___WireframeInterface</string>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>Abstract</string>
                <key>Name</key>
                <string>Abstract</string>
                <key>Type</key>
                <string>checkbox</string>
                <key>Default</key>
                <false/>
                <key>NotPersisted</key>
                <true/>
            </dict>
            
            <dict>
                <key>Identifier</key>
                <string>Subclass</string>
                <key>Name</key>
                <string>Subclass</string>
                <key>Type</key>
                <string>checkbox</string>
                <key>Default</key>
                <false/>
                <key>NotPersisted</key>
                <true/>
            </dict>
            <dict>
                <key>Identifier</key>
                <string>submoduleName</string>
                <key>Name</key>
                <string>Inherits from:</string>
                <key>Description</key>
                <string>The base module name to use for subclassing (do not use any prefix like Abstract nor suffixes).</string>
                <key>Type</key>
                <string>text</string>
                <key>Default</key>
                <string></string>
                <key>RequiredOptions</key>
                <dict>
                    <key>Subclass</key>
                    <array>
                        <string>true</string>
                    </array>
                </dict>
                <key>NotPersisted</key>
                <true/>
            </dict>
        </array>
    </dict>
</plist>
